[Service]
ExecStart=/bin/sh -c ${HOME}/bin/keyboard-watcher
Restart=always
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
# WantedBy=default.target
