[Service]
SyslogIdentifier=monitor-watcher
ExecStart=/bin/sh -c ${HOME}/bin/monitor-watcher
Restart=always
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
# WantedBy=default.target
