[Service]
SyslogIdentifier=network-watcher
ExecStart=/bin/sh -c ${HOME}/bin/network-watcher
Restart=always
NoNewPrivileges=true
StandardOutput=journal
StandardError=journal

[Install]
# WantedBy=default.target
