[Desktop Entry]
Name=Open URLs
Exec=url-handler '%u'
Icon=web-browser
Type=Application
Terminal=false
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;x-scheme-handler/http;x-scheme-handler/https;
