<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://openbox.org/
                                  file:///usr/share/openbox/menu.xsd">

  <menu id="unison-menu" label="sync for _roaming">
    <separator label="unison" />
    <item label="~/roaming (to adriatic)">
      <action name="Execute"><execute>roam adriatic roaming</execute></action>
    </item>
    <item label="~/music (to adriatic)">
      <action name="Execute"><execute>roam adriatic music</execute></action>
    </item>
    <item label="both (to adriatic)">
      <action name="Execute"><execute>roam adriatic roaming music</execute></action>
    </item>
    <separator />
    <item label="~/roaming (to southern)">
      <action name="Execute"><execute>roam southern roaming</execute></action>
    </item>
    <item label="~/music (to southern)">
      <action name="Execute"><execute>roam southern music</execute></action>
    </item>
    <item label="both (to southern)">
      <action name="Execute"><execute>roam southern roaming music</execute></action>
    </item>
    <separator />
    <item label="~/roaming (to linuxmce)">
      <action name="Execute"><execute>roam linuxmce roaming</execute></action>
    </item>
    <item label="~/music (to linuxmce)">
      <action name="Execute"><execute>roam linuxmce music</execute></action>
    </item>
    <item label="both (to linuxmce)">
      <action name="Execute"><execute>roam linuxmce roaming music</execute></action>
    </item>
    <separator />
    <item label="~/roaming (to atlantic)">
      <action name="Execute"><execute>roam atlantic roaming</execute></action>
    </item>
    <item label="~/music (to atlantic)">
      <action name="Execute"><execute>roam atlantic music</execute></action>
    </item>
    <item label="both (to atlantic)">
      <action name="Execute"><execute>roam atlantic roaming music</execute></action>
    </item>
  </menu>

  <menu id="wwwoffle-menu" label="wwwoffle">
    <separator label="wwwoffle" />
    <item label="go online">
      <action name="Execute"><execute>wwwoffle -online</execute></action>
    </item>
    <item label="go offline">
      <action name="Execute"><execute>wwwoffle -offline</execute></action>
    </item>
    <item label="fetch">
      <action name="Execute"><execute>wwwoffle -fetch</execute></action>
    </item>
  </menu>

  <menu id="browser-menu" label="Browsers">
    <separator label="Browsers" />
    <item label="chrome">
      <action name="Execute"><execute>google-chrome</execute></action>
    </item>
    <item label="firefox">
      <action name="Execute"><execute>my-firefox</execute></action>
    </item>
    <item label="konqueror">
      <action name="Execute"><execute>konqueror</execute></action>
    </item>
    <item label="opera">
      <action name="Execute"><execute>opera</execute></action>
    </item>
    <item label="Mozilla">
      <action name="Execute"><execute>mozilla</execute></action>
    </item>
  </menu>

  <menu id="comms-menu" label="Communications">
    <separator label="Communications" />
    <item label="_pidgin">
      <action name="Execute"><execute>sh -c 'pidgin || gaim'</execute></action>
    </item>
    <item label="_thunderbird mail">
      <action name="Execute"><execute>thunderbird</execute></action>
    </item>
    <item label="thunderbird _addressbook">
      <action name="Execute"><execute>thunderbird -addressbook</execute></action>
    </item>
    <item label="_skype">
      <action name="Execute"><execute>skype</execute></action>
    </item>
    <item label="_X-Chat">
      <action name="Execute"><execute>xchat</execute></action>
    </item>
    <item label="_ekiga">
      <action name="Execute"><execute>ekiga</execute></action>
    </item>
    <item label="_umtsmon">
      <action name="Execute"><execute>umtsmon</execute></action>
    </item>
  </menu>

  <menu id="graphics-menu" label="Graphics">
    <separator label="Graphics" />
    <item label="The GIMP">
      <action name="Execute"><execute>gimp</execute></action>
    </item>
    <item label="gqview">
      <action name="Execute"><execute>gqview</execute></action>
    </item>
    <item label="dia">
      <action name="Execute"><execute>dia</execute></action>
    </item>
    <item label="picasa">
      <action name="Execute"><execute>picasa</execute></action>
    </item>
    <item label="kphotoalbum">
      <action name="Execute"><execute>kphotoalbum</execute></action>
    </item>
    <item label="xsane">
      <action name="Execute"><execute>xsane</execute></action>
    </item>
    <item label="xvidcap">
      <action name="Execute"><execute>xvidcap</execute></action>
    </item>
  </menu>

  <menu id="pulseaudio-menu" label="pulseaudio">
    <item label="_mixer (pavucontrol)">
      <action name="Execute"><execute>pavucontrol</execute></action>
    </item>
    <item label="_device chooser (padevchooser)">
      <action name="Execute"><execute>padevchooser</execute></action>
    </item>
    <item label="_preferences (paprefs)">
      <action name="Execute"><execute>paprefs</execute></action>
    </item>
    <item label="VU _meter (pavumeter)">
      <action name="Execute"><execute>pavumeter</execute></action>
    </item>
  </menu>

  <menu id="audio-menu" label="Audio / music">
    <separator label="Audio" />
    <item label="AmaroK">
      <action name="Execute"><execute>amarok</execute></action>
    </item>
    <item label="spotify">
      <action name="Execute"><execute>spotify</execute></action>
    </item>
    <item label="_xmms">
      <action name="Execute"><execute>xmms</execute></action>
    </item>
    <separator />
    <item label="_kmix">
      <action name="Execute"><execute>kmix</execute></action>
    </item>
    <menu id="pulseaudio-menu" />
    <item label="gnome ALSA mixer">
      <action name="Execute"><execute>gnome-alsamixer</execute></action>
    </item>
    <item label="envy24control">
      <action name="Execute"><execute>envy24control</execute></action>
    </item>
    <separator />
    <item label="_grip">
      <action name="Execute"><execute>grip</execute></action>
    </item>
    <item label="_easytag">
      <action name="Execute"><execute>easytag</execute></action>
    </item>
    <separator />
    <item label="transcribe">
      <action name="Execute"><execute>transcribe</execute></action>
    </item>
    <item label="Band In A Box">
      <action name="Execute"><execute>biab</execute></action>
    </item>
    <item label="Frescobaldi">
      <action name="Execute"><execute>frescobaldi</execute></action>
    </item>
    <separator />
    <item label="_audacity">
      <action name="Execute"><execute>audacity</execute></action>
    </item>
    <item label="ar_dour">
      <action name="Execute"><execute>ardour</execute></action>
    </item>
    <item label="_rosegarden">
      <action name="Execute"><execute>rosegarden</execute></action>
    </item>
    <item label="q_jackctl">
      <action name="Execute"><execute>qjackctl</execute></action>
    </item>
    <item label="_qsynth">
      <action name="Execute"><execute>qsynth</execute></action>
    </item>
  </menu>

  <menu id="office-menu" label="Office / PIM">
    <separator label="Office / PIM" />
    <item label="korganizer">
      <action name="Execute"><execute>korganizer</execute></action>
    </item>
    <item label="sunbird">
      <action name="Execute"><execute>sunbird</execute></action>
    </item>
    <separator />
    <item label="OpenOffice">
      <action name="Execute"><execute>ooffice</execute></action>
    </item>
    <item label="GnuCash">
      <action name="Execute"><execute>gnucash</execute></action>
    </item>
    <item label="Gnumeric">
      <action name="Execute"><execute>gnumeric</execute></action>
    </item>
  </menu>

  <menu id="utils-menu" label="Utils">
    <separator label="Utils" />
    <item label="gkrellm">
      <action name="Execute"><execute>sh -c "~/.xsession-progs.d/person-adam.spiers/50-gkrellm"</execute></action>
    </item>
    <item label="k_randrtray">
      <action name="Execute"><execute>krandrtray</execute></action>
    </item>
    <item label="k_colorchooser">
      <action name="Execute"><execute>kcolorchooser</execute></action>
    </item>
    <item label="k_calc">
      <action name="Execute"><execute>kcalc</execute></action>
    </item>
    <item label="gnome-_screenshot">
      <action name="Execute"><execute>gnome-screenshot -i</execute></action>
    </item>
    <item label="ksnapshot">
      <action name="Execute"><execute>ksnapshot</execute></action>
    </item>
    <item label="k_mag">
      <action name="Execute"><execute>kmag</execute></action>
    </item>
    <item label="x_mag">
      <action name="Execute"><execute>xmag</execute></action>
    </item>
    <item label="x_kill">
      <action name="Execute"><execute>xkill</execute></action>
    </item>
  </menu>

  <menu id="fun-menu" label="Fun">
    <separator label="Fun" />
    <item label="Google Earth">
      <action name="Execute"><execute>googleearth</execute></action>
    </item>
    <item label="Stellarium">
      <action name="Execute"><execute>sh -c 'stellarium &gt; ~/.stellarium/log 2&gt;&amp;1'</execute></action>
    </item>
    <item label="Celestia">
      <action name="Execute"><execute>sh -c 'celestia &gt; ~/.celestia.log 2&gt;&amp;1'</execute></action>
    </item>
    <item label="crafty">
      <action name="Execute"><execute>xcrafty</execute></action>
    </item>
    <item label="FICS">
      <action name="Execute"><execute>xterm -e xcrafty -ics -icshost freechess.org -icshelper timeseal</execute></action>
    </item>
  </menu>

  <menu id="apps-menu" label="Applications">
    <separator label="Apps" />
    <item label="_sync Novell mail">
      <action name="Execute"><execute>sync-novell-mail-now</execute></action>
    </item>
    <item label="sync _personal mail">
      <action name="Execute"><execute>top-term sync-personal-mail</execute></action>
    </item>
    <separator />
    <menu id="browser-menu" />
    <menu id="comms-menu" />
    <menu id="graphics-menu" />
    <menu id="audio-menu" />
    <menu id="office-menu" />
    <item label="VMware Workstation">
      <action name="Execute"><execute>vmware</execute></action>
    </item>
    <item label="VirtualBox">
      <action name="Execute"><execute>virtualbox</execute></action>
    </item>
    <menu id="utils-menu" />
    <menu id="fun-menu" />
    <menu id="wwwoffle-menu" />
    <menu id="unison-menu" />
    <separator />
    <item label="xterm">
      <action name="Execute"><execute>xterm</execute></action>
    </item>
    <item label="System _logs">
      <action name="Execute"><execute>watchlogs-system-window</execute></action>
    </item>
  </menu>

  <menu id="wm-menu" label="Openbox 3">
    <separator label="Openbox" />
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <item label="ObConf">
      <action name="Execute"><execute>obconf</execute></action>
    </item>
    <separator />
    <item label="xscreensaver">
      <action name="Execute"><execute>xscreensaver-demo</execute></action>
    </item>
    <item label="Save screen">
      <action name="Execute"><execute>xscreensaver-command -activate</execute></action>
    </item>
    <item label="Lock screen">
      <action name="Execute"><execute>xscreensaver-command -lock</execute></action>
    </item>
    <item label="Blank all screens">
      <action name="Execute"><execute>blank-all-screens</execute></action>
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
  </menu>

  <menu id="org-personal-menu" label="_personal">
    <item label="_TODO">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-personal-todo"</execute>
      </action>
    </item>
    <item label="_diary">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-personal-diary"</execute>
      </action>
    </item>
  </menu>

  <menu id="org-work-menu" label="_work">
    <item label="_TODO">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-work-todo"</execute>
      </action>
    </item>
    <item label="_diary">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-work-diary"</execute>
      </action>
    </item>
  </menu>

  <menu id="org-todo-menu" label="_TODOs">
    <item label="_personal">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-personal-todo"</execute>
      </action>
    </item>
    <item label="_work">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-work-todo"</execute>
      </action>
    </item>
  </menu>

  <menu id="org-diary-menu" label="_diaries">
    <item label="_personal">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-personal-diary"</execute>
      </action>
    </item>
    <item label="_work">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-jump-work-diary"</execute>
      </action>
    </item>
  </menu>

  <menu id="org-menu" label="org-mode">
    <separator label="org-mode" />
    <item label="_agenda">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-agenda"</execute>
      </action>
    </item>
    <item label="_review">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-agenda-review"</execute>
      </action>
    </item>
    <item label="Google _Calendar">
      <action name="Execute">
        <execute>google-chrome https://www.google.com/calendar/</execute>
      </action>
    </item>
    <item label="add _event(s) to Google Calendar">
      <action name="Execute">
        <execute>urxvt -e sh -c 'while true; do rlwrap gca; div; done'</execute>
      </action>
    </item>
    <item label="_q: remember">
      <action name="Execute">
        <execute>sh -c "switch-feed-emacs &lt; ~/lib/xmacro/org-remember"</execute>
      </action>
    </item>
    <separator label="by category" />
    <menu id="org-personal-menu" />
    <menu id="org-work-menu" />
    <separator label="by file type" />
    <menu id="org-todo-menu" />
    <menu id="org-diary-menu" />
  </menu>

  <menu id="jump-to-app-menu" label="Jump to application">
    <separator label="Jump to application" />
    <item label="_emacs">
      <action name="Execute">
        <execute>wmctrl -ax emacs</execute>
      </action>
    </item>
    <item label="_org mode">
      <action name="Execute">
        <execute>wmctrl -a '*Org '</execute>
      </action>
    </item>
    <item label="_amarok">
      <action name="Execute">
        <execute>wmctrl -a amarok</execute>
      </action>
    </item>
    <item label="Spotif_y">
      <action name="Execute">
        <execute>wmctrl -a Spotify</execute>
      </action>
    </item>
    <item label="_xchat IRC">
      <action name="Execute">
        <execute>wmctrl -a xchat</execute>
      </action>
    </item>
    <item label="_firefox">
      <action name="Execute">
        <execute>wmctrl -a firefox</execute>
      </action>
    </item>
    <item label="_pidgin">
      <action name="Execute">
        <execute>wmctrl -a 'Buddy List'</execute>
      </action>
    </item>
    <item label="_korganizer">
      <action name="Execute">
        <execute>wmctrl -a korganizer</execute>
      </action>
    </item>
    <item label="_groupwise">
      <action name="Execute">
        <execute>wmctrl -a groupwise</execute>
      </action>
    </item>
    <item label="_skype">
      <action name="Execute">
        <execute>wmctrl -a skype</execute>
      </action>
    </item>
    <item label="_thunderbird">
      <action name="Execute">
        <execute>wmctrl -a thunderbird</execute>
      </action>
    </item>
    <item label="_vmware">
      <action name="Execute">
        <execute>wmctrl -a vmware</execute>
      </action>
    </item>
    <item label="xterm _console">
      <action name="Execute">
        <execute>wmctrl -a xterm</execute>
      </action>
    </item>
  </menu>

</openbox_menu>
